<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kutuphane">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="Kutuphane"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".goster"/>
        <activity android:name=".yeniUye"/>
        <activity android:name=".kitapListe"/>
        <activity android:name=".kitapekle"/>
        <activity android:name=".kitapKaldir"/>
        <activity android:name=".kitapDuzenle"/>
        <activity android:name=".hakkinda"/>
        <activity android:name=".kitapIslemleri"/>
        <activity android:name=".istatistik"/>
        <activity android:name=".SplashActivity"/>
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>